@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="hero-wrap" style="background-image: url('images/vis-1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a asp-controller="Home">Home</a></span> <span>About</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(images/excos.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="mb-4">Welcome to WEEGCI Established Since 2022</h2>
                <p>Women Economic Empowerment and Girls Counseling Initiative (WEEGCI) is a nonprofit and non- governmental organization dedicated to improving women’s economic wellbeing through skills acquisition and training.</p>
                
                <p>WEEGCI is registered with the Corporate Affairs Commission (CAC) under Company and Allied Matters and commenced operations in April 2022.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
                    <div class="media-body pl-4">
                        <h2 class="mb-4">What We Do</h2>
                        <h4 style="color:coral">Skills Acquisition for Women and Girls Program</h4>
                        <p style="font-size:larger">
							This program is for empowering women and girls through skills acquisition and training. It is to promote economic development and independence among women and girls.

						</p>
                        <h4 style="color:coral">Guidance and Counseling for Girls Program</h4>
						<p style="font-size:larger">
							This program is meticulously designed and structured to guide our young girls on issues that are important for their lives. Issues such as guarding one’s chastity, open and honest communication, forbearing in difficult times, patience and forbearance, confidence building etc. The program is to empower girls to unlock their full potential, nurture aspirations and become catalyst for positive cultural and economic transformation within their communities and spheres of influence.

						</p>
                        <h4 style="color:coral">Home Economics Program</h4>
                        <p style="font-size:larger">
							Girls are taught the art of home management, and the strategies to overcome poverty and build their analytical and decision-making skills.
						</p>
                        <h4 class="active" style="color:coral">Publicity Campaign Program</h4>
                        <p style="font-size:larger">
							Through weekly radio program WEEGCI educate wider listeners on the importance of standing up to fight poverty and be economically independent. Through questions and answers session WEEGCI listens and registers the fears, barriers, concerns and inadequacies of girls in standing up for themselves.
                        </p>
                    </div>
                </div>
            </div>
            @* <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
                    <div class="media-body pl-4">
                        <h2 class="mb-4">Our Vision</h2>
                        <p style="font-size:larger">
                            To bring about positive change in women’s economic activities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex align-self-stretch ftco-animate">

                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
                    <div class="media-body pl-4">
                        <h2 class="mb-4">Our Mission</h2>
                        <p style="font-size:larger">
                            Promoting sustainable gender balance in economic and income earning activities.
                        </p>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</section>

<section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Served Over</span>
                        <strong class="number" data-number="150">0</strong>
                        <span>Women in Kano State, Nigeria</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Established more than</h3>
                        <strong class="number" data-number="50">0</strong>
                        <p>Homes in Kano State, Nigeria.</p>
                        @* <p><a href="#" class="btn btn-white px-3 py-2 mt-2">...</a></p> *@
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Improved more than</h3>
                        <strong class="number" data-number="20">0</strong>
                        <p>Cities in Kano State, Nigeria.</p>
                        @* <p><a href="#" class="btn btn-white px-3 py-2 mt-2">...</a></p> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-lg-10 col-md-8 heading-section ftco-animate text-center">
                <h2 class="mb-4">MEET OUR EXECUTIVES</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3" style="margin:auto">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url('images/weegci/weegci-president2.jpg');">
                    </a>
                    <div class="text p-4 d-block" style="text-align:center">
                        @* <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div> *@
                        <h3 class="heading mb-4"><a href="#">Rabi Abdullahi</a></h3>
                        @* <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p> *@
                        <p>WEEGCI President</p>
                        @* <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p> *@
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url('images/weegci/Special-advisor-coo.jpg');">
                    </a>
                    <div class="text p-4 d-block" style="text-align:center">
                        @* <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div> *@
                        <h3 class="heading mb-4"><a href="#">Prof. Gambo Haruna</a></h3>
                        @* <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p> *@
                        <p>Special Advisor/COO</p>
                        @* <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p> *@
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url('images/weegci/training-coordinator.jpg');">
                    </a>
                    <div class="text p-4 d-block" style="text-align:center">
                        @* <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div> *@
                        <h3 class="heading mb-4"><a href="#">Abdussamad Ado</a></h3>
                        @* <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p> *@
                        <p>Training coordinator</p>
                        @* <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p> *@
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url('images/weegci/trustee.jpg');">
                    </a>
                    <div class="text p-4 d-block" style="text-align:center">
                        @* <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div> *@
                        <h3 class="heading mb-4"><a href="#">Auwalu Faruk</a></h3>
                        @* <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p> *@
                        <p>Trustee</p>
                        @* <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p> *@
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url('images/weegci/trustee2.jpg');">
                    </a>
                    <div class="text p-4 d-block" style="text-align:center">
                        @* <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div> *@
                        <h3 class="heading mb-4"><a href="#">Prof. Maryam Mansur Y.</a></h3>
                        @* <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p> *@
                        <p>Trustee</p>
                        @* <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>